* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bgGray;
    padding-left: 10%;
    padding-right: 10%;
    font-family: $defaultFont;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-color: white;

    >section {
        padding-left: 1%;
        padding-right: 1%;
    }
}

h1 {
    font-size: $h1SizeMobile;
}